{% extends 'students_base_app/base.html' %}

{% block title %}Login{% endblock %}

{% block page_title %}Login in system{% endblock %}

{% block content %}
    <form role="form" action="{{ request.get_full_path }}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-default">Login</button>
    </form>
{% endblock %}