{% extends 'students_base_app/base.html' %}

{% block title %}Edit student{% endblock %}

{% block page_title %}Edit student - {{ student }}{% endblock %}

{% block content %}
    <form role="form" action="{% url 'students_app:student_edit' student_id=student.id %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-default">Save changes</button>
        <a href="{% url 'students_app:student_delete' student.id %}" class="btn btn-danger pull-right">Delete student</a>
    </form>
{% endblock %}